
/* Navbar */
.navbar .center {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.navbar .right {
    position: absolute;
    right: 0;
    top: 0;
}


.Select-menu-outer {
	color: black;
	display : block !important;
}

/* Datatabke Dropdown Color */
.dash-spreadsheet .Select.has-value.Select--single > .Select-control .Select-value .Select-value-label, .dash-spreadsheet .Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
	color: pink !important;
}


/* Side Navigation Bar */
.onHoverNavigation {
	visibility: hidden;
}

.facebookicon:hover ~ #onhoverfb{
    visibility: visible;
}


/* dbc.Checklist */
/* .form-check {
	position: relative;
	padding-left: 1em;
}

.form-check-label {
	text-align: left;
}

.form-check-input {
	position: absolute;
    right: 2;
} */


/* Top Nav */
.order-1 {
	width:auto;
}




/* Metadata Table */
.metadata_table tr td {
	padding: 3px 3px 3px 3px;
}




/* Action Dropdown Buttons */
.action_dropdown {
	background-color: yellow;
	padding: 10px;
	text-align: center;
}



/* Data Flow Left Modal */
#data_flow-modal_left {
	position: fixed;
	margin-left: 140px;
	margin-top: 5vh;
	height: 92vh;
	width: 46%;
	max-width: none;
	max-height: 1000px;
}

.modal-backdrop {
	display: none !important;
}

.modal-open .modal {
    width: 0px;
    margin: 0 auto;
}