/* Page Layout Navbar */
.page-content {
	position: relative;
	/* margin-left: 11rem,;
    margin-right: 10px;
    padding: 2px 0rem; */
}
.sidebar {
    position: fixed;
	margin-top:60px;
    top: 40;
    left: 0;
    /* bottom: 0; */
    width: 5%;
    /* padding: 2rem 1rem; */
    /* background-color: #f8f9fa; */
    font-size: 0.9em;
}
.navbar .center {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.navbar .right {
    position: absolute;
    right: 0;
    top: 0;
}
.left-panel {
	width: 47%;
	position: absolute;
	top: 50;
    left: 11rem;
	right: 0;
	top:0;
}
.right-panel {
	width: 47%;
	position: absolute;
	right: 0;
	/* top: ; */
	/* bottom: 0; */
	padding: 6px;
}


/* Cytoscape */
.cytoscape-details {
	float:left;
}
.cytoscape-buttons {
	float: right;
}



.Select-menu-outer {
	color: black;
	display : block !important;
}

/* Datatabke Dropdown Color */
.dash-spreadsheet .Select.has-value.Select--single > .Select-control .Select-value .Select-value-label, .dash-spreadsheet .Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
	color: pink !important;
}


/* Side Navigation Bar */
.onHoverNavigation {
	visibility: hidden;
}

.facebookicon:hover ~ #onhoverfb{
    visibility: visible;
}


/* dbc.Checklist */
/* .form-check {
	position: relative;
	padding-left: 1em;
}

.form-check-label {
	text-align: left;
}

.form-check-input {
	position: absolute;
    right: 2;
} */


/* Top Nav */
.order-1 {
	width:auto;
}




/* Metadata Table */
.metadata_table tr td {
	padding: 3px 3px 3px 3px;
}




/* Action Dropdown Buttons */
.action_dropdown {
	background-color: yellow;
	padding: 10px;
	text-align: center;
}



/* Data Flow Left Modal */
/* #data_flow-modal_left {
	position: fixed;
	margin-left: 140px;
	margin-top: 5vh;
	height: 92vh;
	width: 46%;
	max-width: none;
	max-height: 1000px;
}

.modal-backdrop {
	display: none !important;
}

.modal-open .modal {
    width: 0px;
    margin: 0 auto;
} */



/* Tranform Action Calculator */
/* #prev_operand {
	font-size: 8px;
}

#curr_operand {
	font-size: 12px;
}

.calc_button {
	width: 100%;
	padding: 1rem;
} */


/* *, *::before, *::after {
	box-sizing: border-box;
	font-family: Gotham Rounded, sans-serif;
	font-weight: normal;
  } */
  
#data_flow-calculator_container {
	padding: 0;
	margin: 0;
	background-color: rgb(6, 4, 4);
    background-color: rgba(255,255,255,0.5);
}

.calculator-grid {
	display: grid;
	justify-content: center;
	align-content: center;
	min-height: 90vh;
	grid-template-columns: repeat(4, 130px);
	grid-template-rows: minmax(120px, auto) repeat(15, 50px);
}

.calculator-grid > button {
	cursor: pointer;
	font-size: 1.35rem;
	border: 1px solid white;
	outline: none;
	background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > button:hover {
	background-color: rgba(255, 255, 255, .9);
}

.span-two {
	grid-column: span 2;
}

.span-three {
	grid-column: span 3;
}

.span-four {
	grid-column: span 4;
}

.calc_outputs {
	grid-column: 1 / -1;
	background-color: rgba(0, 0, 0, .75);
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
	flex-direction: column;
	padding: 10px;
	word-wrap: break-word;
	word-break: break-all;
	color: white;
}

.calc_outputs .prev_operand {
	color: rgba(255, 255, 255, .75);
	font-size: 1.5rem;
}

.calc_outputs .curr_operand {
	color: white;
	font-size: 2.5rem;
}