.Select-menu-outer {
	display : block !important;
}

/* Datatabke Dropdown Color */
.dash-spreadsheet .Select.has-value.Select--single > .Select-control .Select-value .Select-value-label, .dash-spreadsheet .Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
	color: pink !important;
}


/* Side Navigation Bar */
.onHoverNavigation {
	visibility: hidden;
}

.facebookicon:hover ~ #onhoverfb{
    visibility: visible;
}




/* dbc.Checklist */
.form-check {
	position: relative;
	padding-left: 1em;
}

.form-check-label {
	text-align: left;
}

.form-check-input {
	position: absolute;
    right: 2;
}


/* Top Nav */
.order-1 {
	width:auto;
}




/* Metadata Table */
.metadata_table tr td {
	padding: 3px 3px 3px 3px;
}




/* Action Dropdown Buttons */
.action_dropdown {
	background-color: yellow;
	padding: 10px;
}


.cytoscape_buttons {
	margin-right: 2px;
	width: 65px
}