.Select-menu-outer {
	display : block !important;
}


/* Side Navigation Bar */
.onHoverNavigation {
	visibility: hidden;
}

.facebookicon:hover ~ #onhoverfb{
    visibility: visible;
}




/* dbc.Checklist */
.form-check {
	position: relative;
	padding-left: 1em;
}

.form-check-label {
	text-align: left;
}

.form-check-input {
	position: absolute;
    right: 2;
}


/* Top Nav */
.order-1 {
	width:auto
}